<!-- IF SCRIPT_NAME eq 'viewforum' -->
<!-- BEGIN topicrow -->
<script type="text/javascript">
$(function() {
		var url = "{topicrow.U_TOPIC_AUTHOR}"
    url = url.split("u=");
		$( "[id='mynt{topicrow.TOPIC_AUTHOR}']" ).load( "./app.php/avatar/"+url[1]+".html" );
});
</script>
<!-- END topicrow -->

<style>
div.topic_avatar {
float:left;
padding-right: 5px;
cursor:pointer;
}
<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
div.topic_avatar {
float:right;
padding-left: 5px;
}
<!-- ENDIF -->
</style>
<!-- ENDIF -->